@import "tailwindcss";

.bg-custom-gradient {
  background: linear-gradient(
    60deg,
    var(--color-amber-500) 30%,
    var(--color-indigo-950) 30%
  );
}

.techonolies {
  background-color: rgba(255, 255, 255, 0.103);
}

.card-with-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  pointer-events: none;
}

.card-active-with-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 40%);
  z-index: 10;
  pointer-events: none; 
}


